/**
 * Central colours
 */
$brand-color: #ffab00;
$background-color: rgba(0, 0, 0, 0.02);

/**
 * Typography
 */
$text-default-color: rgba(0, 0, 0, 0.6);

/**
 * Borders
 */
$border-width: 2px;
$border-default-color: rgba(0, 0, 0, 0.35);
